.watch-sidebar-body {
	display:none;
}
#watch-discussion {
	display:none;
}

#feed-pyv-container {
	display:none;
}
.branded-page-v2-secondary-col {
	display:none;
}
#header {
	display:none;
}
#content {
	display:none;
}
.watch-sidebar {
	display:none;
}
.feed-item-dismissable {
	display:none;
}
#search-secondary-col-contents {
	display:none;
}

.pyv-afc-ads-inner {
	display:none;
}
.watch-content {
	display:none;
}
